# LMS
CANVAS_API_URL=http://canvas.docker/api/v1
CANVAS_API_TOKEN=

# Ports
LMS_SERVICE_APP_PORT=5004
LMS_SERVICE_DB_PORT=5432

# Database credentials
LMS_SERVICE_DATABASE_PASSWORD=
LMS_SERVICE_DATABASE_USER=
LMS_SERVICE_DATABASE_DB=
LMS_SERVICE_DATABASE_HOST=
LMS_SERVICE_DATABASE_STRING_CONNECTION="Host=${LMS_SERVICE_DATABASE_HOST};Port=${LMS_SERVICE_DB_PORT};Database=${LMS_SERVICE_DATABASE_DB};Username=${LMS_SERVICE_DATABASE_USER};Password=${LMS_SERVICE_DATABASE_PASSWORD}"